.card {
    @include heading-font;
    font-weight: 500;
    border-radius: 5px;
  }
  
.card-body {
    background-color: #f1f6fc;
}

.card-text {
    color-adjust: #fff;
    font-weight: bolder;
}

.card-footer {
    font-size: 18px;
    padding: 20px 40px;
}