<!-- <div class={{ '"py-5 container-fluid ' | append: class | append: '"'}}>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 services-section">
            {{ include.left | markdownify }}
        </div>
        <div class="col-md-4 services-section text-right">
            {{ include.right | markdownify }}
        </div>
        <div class="col-md-2"></div>
    </div>
</div> -->

<!-- <div class="lr-flex-container">
    <div>1</div>
    <div>2</div>
  </div>
  
  <p>A Flexible Layout must have a parent element with the <em>display</em> property set to <em>flex</em>.</p>
  
  <p>Direct child elements(s) of the flexible container automatically becomes flexible items.</p> -->
<div class="container">
    <div class="row">
        <div class="left col-lg-2">Websites designed to convert traffic like crazy!
        </div>
        <div class="right col-lg-2">...</div>
    </div>
</div>